<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocketIO Server</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io();

            socket.on('update_packet', function(data) {
                document.getElementById('packet').innerHTML = JSON.stringify(data, null, 2);
            });
        });
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel = "stylesheet" type = "text/css" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://kit.fontawesome.com/7edbb96f44.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>

    <form id="form" action="{{ url_for('home')}}" method="post"></form>

    <div class="header unselectable">
        <a>Hypowave</a>
        <button form="form" value="adduser" name="action" class="header_btn fa-solid fa-circle-user fa-2xl" style="color: #ACD5DB; margin-top: 15px;"></button>
        <button class="header_btn fa-solid fa-gear fa-2xl" style="color: #ACD5DB; margin-top: 15px;" onclick = "viewsettingsmodal()"></button>
        <button class="header_btn">Feedback</button>
        <button class="header_btn">About</button>
        <button id = "help_btn" class = "header_btn" onclick = "viewhelpmodal()">Help</button>
    </div>
    
    <div class="dashboard">
    
        <div class="overview unselectable">
            <h1>Overview</h1>
            <p>Current Visitor Total: <span id="visitorTotal"></span></p>
            <p>Stat 2: <span id="stat2"></span></p>
            <p>Stat 3: <span id="stat3"></span></p>
            
        
            <div class="controls">
                <button id="currentBtn" class="modeBtn" style="margin-top:2px;">Current Occupancy</button>
                <button id="todayBtn" class="modeBtn" >Today</button>
                <button id="pastWeekBtn" class="modeBtn" >Past Week</button>
                <button id="selectDateBtn" class="modeBtn" onclick = "viewdatesmodal()">Select Date(s)</button>
    
            </div>   
        </div>
    
        <div class="occupancy_area">
            <h1 id="plot_header">Current Occupancy</h1>
            <div id="plot"></div>

            <canvas id="dataPlot"></canvas>
            <script type="text/javascript">
                var socket = io();
                var ctx = document.getElementById('dataPlot').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'scatter', // or any other type you prefer
                    data: {
                        datasets: [{
                            label: 'Sensor Data',
                            data: [], // Initially empty, will be populated with data from server
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        }]
                    },
                    options: {
                        animation: false, // Disable animations
                        scales: {
                            x: {
                                type: 'linear',
                                position: 'bottom',
                                min: -3,
                                max: 3
                            },
                            y: {
                                min: 0,
                                max: 6
                            }
                        },
                        plugins: {
                            legend: {
                            display: false
                            }
                        }
                    }
                });
        
                socket.on('update_packet', function(data) {
                    // Clear existing data
                    chart.data.datasets[0].data = [];

                    // Check if there is trackData and update the chart
                    if (data.trackData && data.trackData.length > 0) {
                        chart.data.datasets[0].data.push({ x: 0, y: 0 });
                        data.trackData.forEach(entry => {
                            chart.data.datasets[0].data.push({
                                x: entry[1], // Assuming this is the X coordinate
                                y: entry[2]  // Assuming this is the Y coordinate
                            });
                        });
                    }

                    // Update the chart to reflect changes
                    chart.update();
                });
            </script>

            <!-- <h1>Latest Packet Received</h1>
            <pre id="packet">Waiting for data...</pre> -->
        </div>
     
    </div>
    
    <div id="dates_modal" class="modal unselectable">
        <!-- Modal content -->
        <div class="dates_modal_content">
            <button id = "close_dates_btn" class = "close_modal_btn">&#10005;</button>
            <div>
                <a>Select Dates</a>
                <div id="datePicker">
                    <d>Start Date:</d>
                    <input form="form" type="date" id="startDate" name="startDate" value="" class="dateselect">
                    <br>
                    <d>End Date:</d>
                    <input form="form" type="date" id="endDate" name="endDate" value="" class="dateselect">
                    <br>
                    <button id="submitDates" form="form" type="submit" value="seldates" name="action" class="submitDates">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div id="settings_modal" class="modal unselectable">
        <!-- Modal content -->
        <div class="settings_modal_content">
            <button id = "close_settings_btn" class = "close_modal_btn">&#10005;</button>
            <div>
                <a>Settings</a>
                <button id="startBtn" form="form" value="startSensor" name="action" class="settingBtn">Start Sensor</button>
                <button id="stopBtn" form="form" value="stopSensor" name="action" class="settingBtn">Stop Sensor</button>
                <button id="resetBtn" form="form" value="resetSensor" name="action" class="settingBtn">Reset Sensor</button>
                <button id="cfgBtn" form="form" value="sendCfg" name="action" class="settingBtn">Send Configuration</button>
                <div class="custom-search">
                    <input id = "cmdinput" form="form" type = "text" name = "cmdinput" placeholder = "Enter Command..." class="custom-search-input">
                    <button id="submitCmdBtn" form="form" value="sendCmd" name="action" class="custom-search-botton fa-solid fa-arrow-right"></button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="help_modal" class="modal unselectable">
        <!-- Modal content -->
        <div class="help_modal_content">
            <button id = "close_help_btn" class = "close_modal_btn">&#10005;</button>
            <div>
                <a>Help</a>
                <p style="color: #ACD5DB;">...</p>
            </div>
        </div>
    </div>
    
    <script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>
